@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    /* Color by Figma */
    --color-confirm: #5dd62c;
    --color-vintage-rouge: #d52122;
    --color-line-1px: rgba(28, 31, 51, 0.4);
    --color-abbey-white: #f3ebd3;
    --color-low-white: #e2e2e2;

    --color-logo-bg: #9dceff;
    --color-blue: #0b85ff;
    --color-blue-2: #1c1f33;
    --color-white: #ffffff;
    --color-dark: #111113;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-2);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-blue);
}
